<!doctype html>
<style type="text/css">
	#app {
		padding: 10px;
		height: 400px;
		width: 600px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
	}
	h1 {
		font-size: 2em;
	}
	.highcharts-credits {
		color: #fff;
	}
</style>

<div id="app">
	<div id="tab">
		<div id="page-visit-tab" v-on:click="showVisit">Page visits</div>
	    <div id="time-spent-tab" v-on:click="showTime">Time spent</div>
	</div>
	<div id='content'>
		<div id="page-visit-content" v-show="visitshown">
		<!--	<div id="page-views">Total page views: {{ pageviews }}</div> -->
			<div id="cites">
				<!--
				<ul id="cite-list">
                  <li v-for="i in citeList">
                    {{ i[0] }}: {{ i[1] }}
                  </li>
                </ul> -->
                <div id="not-enough-data" v-if="citeList.length < 10">Need more data...collecting.</div>
                <div id="container" style="width:100%; height:500px;"></div>
			</div>
		</div>
	    <div id="time-spent-content" v-show="timeshown">hehehe</div>
	</div>
	
</div>
<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="highcharts.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="rendercharts.js"></script>
<script src="component.js"></script>
